Theta Nil's
 _____     ______     __  __     __  __     ______     ______    
/\  __-.  /\  ___\   /\ \/ /    /\ \/ /    /\  ___\   /\  == \   
\ \ \/\ \ \ \  __\   \ \  _"-.  \ \  _"-.  \ \  __\   \ \  __<   
 \ \____-  \ \_____\  \ \_\ \_\  \ \_\ \_\  \ \_____\  \ \_\ \_\ 
  \/____/   \/_____/   \/_/\/_/   \/_/\/_/   \/_____/   \/_/ /_/ 

exploration & discovery
{{ inventory_hostname }}.thetanil.com
